* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(11, 11, 47);
}

.start-screen{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.start-screen h1 {
  color: white;
  font-size: 60px;
}

.start-screen button {
  padding:16px;
  font-size: 24px;
  background-color: #00308F;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}


