* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #0b0b2f;
}

.start-screen{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.start-screen h1 {
  color: white;
  font-size: 60px;
  text-align: center;
}

.start-screen button {
  padding:16px;
  font-size: 24px;
  background-color: #00308F;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.question-screen {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 40px;
  height: 100vh;
  width: 100vw;
}

.question-main {
  width: 100%;
  padding: 40px;
}

.sidebar {
  padding: 40px;
  background-color: #011949;
  width: 400px;
  height: 100%;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid white;
}

.levels {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.current-level {
  padding: 4px 20px;
  outline: 1px solid white;
  border-radius: 4px;
}

.safe-level {
  padding: 4px 20px;
  outline: 2px solid goldenrod;
  border-radius: 4px;
}

.question-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.question {
  padding: 40px;
  border: 1px solid white;
  background-color: #06061d;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 300px;
  justify-content: center;
}

.question h2 {
  text-align: center;
  font-size: 28px;
}

.question p {
  text-align: center;
  font-size: 24px;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.answer {
  border: 1px solid white;
  color: white;
  background-color: #06061d;
  padding: 24px;
  font-size: 24px;
  height: 120px;
  cursor: pointer;
  border-radius: 12px;
}

.answer:hover {
  outline: 2px solid goldenrod;
  border: none;
}

.answer.correct {
  outline: 2px solid green;
  border: none;
}

.answer.wrong {
  outline: 2px solid red;
  border: none
}

.end-screen{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.end-screen h1 {
  color: white;
  font-size: 60px;
}

.end-screen button {
  padding:16px;
  font-size: 24px;
  background-color: #00308F;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.end-screen p {
  color: white;
  font-size: 24px;
}

.jokers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.jokers button {
  border: 1px solid goldenrod;
  color: white;
  background-color: #06061d;
  padding: 8px;
  font-size: 24px;
  height: 60px;
  cursor: pointer;
  border-radius: 12px;
}

.jokers button:hover {
  background-color: #12123a
}

.jokers button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.jokers button:disabled:hover {
  opacity: 0.5;
  background-color: #06061d;
}


